[submodule "codup/odoo-eam"]
	path = codup/odoo-eam
	url = git@github.com:codup/odoo-eam.git
	branch = 12.0

[submodule "codup/odoo-tools"]
	path = codup/odoo-tools
	url = git@github.com:codup/odoo-tools.git
	branch = 12.0

[submodule "OdooTec/alrobya"]
	path = OdooTec/alrobya
	url = git@github.com:OdooTec/alrobya.git
	branch = 12-production

[submodule "odootechloyce/Office365"]
	path = odootechloyce/Office365
	url = git@github.com:odootechloyce/Office365.git
	branch = master
